<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>登录</title>
</head>
<body>

<header id="top_bg" th:fragment="header">
    <div class="top">
        <div class="nav_z">
            <ul id="navul" class="cl">
                <li>
                    <a th:href="@{/index}">首页</a>
                </li>
                <li th:if="${loginUser==null}">
                    <a th:href="@{/register}">注册</a>
                </li>
                <li th:if="${loginUser==null}">
                    <a th:href="@{/login}">登录</a>
                </li>
                <li th:if="${loginUser!=null}">
                    <img th:src="${loginUser.headerUrl}" style="width:30px;"/>
                </li>
                <li th:if="${loginUser!=null}">
                    <a th:href="@{/logout}">退出登录</a>
                </li>
                <li th:if="${loginUser!=null}">
                    <span th:utext="${loginUser.userName}"></span>
                </li>
                <li th:if="${loginUser!=null}">
                    <a th:if="${loginUser.type==1}" th:href="@{/manager}">管理商品</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- 此div占个位置-->
<div class="container">
    <!-- 导航 -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- logo -->
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- 功能 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    </nav>
</div>

<div class="nk-container">
    <!-- 内容 -->
    <div class="main">
        <div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3">
            <h3 class="text-center text-info border-bottom pb-3" th:utext="${item.itemName}"></h3>
            <form class="mt-5" method="post" th:action="@{/edit}">
                <div class="form-group row">
                    <label for="total" class="col-sm-2 col-form-label text-right">库存总量:</label>
                    <div class="col-sm-10">
                        <input type="text"  th:value="${item.total}"
                               id="total"  name="total" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="endTime" class="col-sm-2 col-form-label text-right">截止时间:</label>
                    <div class="col-sm-10">
                        <input type="text"  th:value="${#dates.format(item.endTime,'yyyy-MM-dd HH:mm:ss')}"
                               id="endTime"  name="endTime" required>
                    </div>
                </div>
                        <button type="submit" class="btn btn-info text-white form-control">保存</button>
            </form>
        </div>
    </div>

</div>
<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/global.js}"></script>
</body>
</html>
