# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\aaa2222339\com.jary.kill\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
